@import '../base/colors';
@import '../base/fonts';
@import '../components/mixins';
/* HEADER CONTACTO */

header {
    background-image: url(/assets/header_contacto.png);
    background-position: center;
    padding: 100px;
}

/* FORMULARIO*/
h1{
    text-align: left;
    margin:20px 0 30px 120px;
}

form{
    width: 650px;
    margin: auto;
    padding: 30px 30px;
    margin-top: 20px;

    input,textarea{
        @include input-styles;
        border-radius: 3px;
        
        &:focus {
            outline-color: $color-lgreen;
        }
    }

    textarea{
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
    }

    button{
        border: none;
        background-image: linear-gradient(150deg, $color-lgreen ,$color-dgreen, $color-lblue,$color-dblue);
        padding: 4px;
        border-radius: 8px;
        color: #fff;
        display: flex;
        font-size: 18px;
        transition: .3s;
        overflow: hidden;
        position: relative;

        span {
            background-color: #111;
            padding: 16px 24px;
            border-radius: 6px;
            transition: .3s;

            &:hover {
                background:none
            }
        }
    }
}

label{
    color: $color-secondary;
}

@media (max-width:480px) {
    form{
        width: 100%;
    }
    
}

.mapa {
    width: 100%;
    height: 400px; 
    margin-top: 100px;
    margin-bottom: 100px;
}