* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* fondo pag principal y scrollbar*/
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}


/* BACKGROUNDS*/
.pagina {
    background-color: #141313;
    text-decoration: none;
}

.inicio1{
    padding: 25px;
    text-align: center;
    background-color: $color-tertiary;
    
    
    a{
        text-decoration: none;
        font-weight: 700;
        color: $color-primary;

        &:hover{
            color: $color-secondary;
        }
    }
}

.bienvenido{
    background-color: $color-lgreen;
    padding: 100px;
}

blockquote {
    font-style: italic;
    padding-left: 10px; /* ver */
}


    .whatsapp {
        position: fixed;
        right: 25px;
        bottom: 80px;
        z-index: 10;
    
            img{
                width: 50px;
                height: 50px;
                animation: pulseAnimation 2s infinite;
            }
    }


@keyframes pulseAnimation {
    0% {
      transform: scale(1); /* Escala normal */
    }
    50% {
      transform: scale(1.2); /* Escala más grande */
    }
    100% {
      transform: scale(1); /* Escala normal */
    }
}

.loaded {
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 0.6s , transform 0.6s ;
    
    &.loaded-invisible {
        opacity: 0;
        transform: translateY(0);
        

    }
}