* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* fondo pag principal y scrollbar*/
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

/* BACKGROUNDS*/
.pagina {
    background-color: #141313;
    text-decoration: none;
}

/* ICONO DE WHASTAPP*/
.whatsapp {
    position: fixed;
    right: 25px;
    bottom: 50px;
    z-index: 10;

    img {
        width: 100px;
        height: 100px;
        animation: pulseAnimation 2s infinite;
    }
}

@keyframes pulseAnimation {
    0% {
        transform: scale(0.3);
        /* Escala normal */
    }

    50% {
        transform: scale(0.4);
        /* Escala más grande */
    }

    100% {
        transform: scale(0.3);
        /* Escala normal */
    }
}